<!DOCTYPE html>

<html prefix="og: http://ogp.me/ns#" xmlns:og="http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <title>
      {% if is_login %}Login
      {% elif is_home %}{{ site.author }}
      {% elif is_tag %}{{ tag }}
      {% elif post %}{{ post.title }}
      {% endif %}
      | {{ site.name }}
    </title>

  <meta name="keywords" content="Ad Network, Ad Server, AdServer, DSP" />
  <meta name="description" content="Platform to start Ad Network as well as use it as Publisher Ad Server">
  <meta name="author" content="agnie.com">
  <link rel="SHORTCUT ICON" type="image/png" href="http://www.agnie.net/img/favicon.png">
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Web Fonts  -->
  <link href="//fonts.googleapis.com/css?family=Righteous:400" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">

  <!-- Libs CSS -->
  <link rel="stylesheet" href="http://www.agnie.net/vendor/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="http://www.agnie.net/vendor/iconmoon/style.css">
  <link rel="stylesheet" href="http://www.agnie.net/vendor/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="http://www.agnie.net/vendor/owl-carousel/owl.carousel.css" media="screen">
  <link rel="stylesheet" href="http://www.agnie.net/vendor/owl-carousel/owl.theme.css" media="screen">
  <link rel="stylesheet" href="http://www.agnie.net/vendor/magnific-popup/magnific-popup.css" media="screen">
  <link rel="stylesheet" href="http://www.agnie.net/vendor/isotope/jquery.isotope.css" media="screen">
  <link rel="stylesheet" href="http://www.agnie.net/vendor/mediaelement/mediaelementplayer.css" media="screen">

  <!-- Theme CSS -->
  <link rel="stylesheet" href="http://www.agnie.net/css/theme.css">
  <link rel="stylesheet" href="http://www.agnie.net/css/theme-elements.css">
  <link rel="stylesheet" href="http://www.agnie.net/css/theme-blog.css">
  <link rel="stylesheet" href="http://www.agnie.net/css/theme-shop.css">
  <link rel="stylesheet" href="http://www.agnie.net/css/theme-animate.css">

  <!-- Current Page CSS -->
  <link rel="stylesheet" href="http://www.agnie.net/vendor/rs-plugin/css/settings.css" media="screen">
  <link rel="stylesheet" href="http://www.agnie.net/vendor/circle-flip-slideshow/css/component.css" media="screen">

  <!-- Responsive CSS -->
  <link rel="stylesheet" href="http://www.agnie.net/css/theme-responsive.css" />

  <!-- Skin CSS -->
  <link rel="stylesheet" href="http://www.agnie.net/css/skins/adsirver.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="http://www.agnie.net/css/custom.css">

  <!-- Head Libs -->
  <script src="http://www.agnie.net/vendor/modernizr.js"></script>

    <link href="{{ assets('css/style.css') }}" rel="stylesheet">

    <!--[if IE 7]>
      <link href="http://postach.io/static/themes/_assets/fontawesome/css/font-awesome-ie7.min.css" rel="stylesheet">
    <![endif]-->

    <!--
    <style>
      /**
       * Your custom override CSS goes here. If you wanted to override the default link colour and hover state, you would do this:
       *
       *  a {
       *      color: #333; /* Override the default colour with a not-quite-black that is easy on the eyes on white screens */
       *  }
       *
       *  a:hover {
       *      color: #545454; /* This will now change the hover state as well */
       *  }
       *
       *  You can put anything you want to override in here, so be creative!
       */
    </style>
    -->

    {% if site.analytics %}
      <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ site.analytics }}']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      </script>
    {% endif %}

  </head>
  <body>
    test

    <!-- Libs -->
    <script src="http://www.agnie.net/vendor/jquery.js"></script>
    <script src="http://www.agnie.net/vendor/jquery.appear.js"></script>
    <script src="http://www.agnie.net/vendor/jquery.easing.js"></script>
    <script src="http://www.agnie.net/vendor/jquery.cookie.js"></script>
    <script src="http://www.agnie.net/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="http://www.agnie.net/vendor/jquery.validate.js"></script>
    <script src="http://www.agnie.net/vendor/jquery.stellar.js"></script>
    <script src="http://www.agnie.net/vendor/jquery.knob.js"></script>
    <script src="http://www.agnie.net/vendor/jquery.gmap.js"></script>
    <script src="http://www.agnie.net/vendor/twitterjs/twitter.js"></script>
    <script src="http://www.agnie.net/vendor/isotope/jquery.isotope.js"></script>
    <script src="http://www.agnie.net/vendor/owl-carousel/owl.carousel.js"></script>
    <script src="http://www.agnie.net/vendor/jflickrfeed/jflickrfeed.js"></script>
    <script src="http://www.agnie.net/vendor/magnific-popup/magnific-popup.js"></script>
    <script src="http://www.agnie.net/vendor/mediaelement/mediaelement-and-player.js"></script>

    <!-- Theme Initializer -->
    <script src="http://www.agnie.net/js/theme.plugins.js"></script>
    <script src="http://www.agnie.net/js/theme.js"></script>

    <!-- Custom JS -->
    <script src="http://www.agnie.net/js/custom.js"></script>
</body>
</html>
